:root {
    --primary: #4bede6;
    --secondary: #a1e6e3;
    --background: #fff;

    --text: #2f3542;

    --clear-primary: #4bede6;
    --clear-secondary: #a1e6e3;
    --clear-bg: #fff;

    --clouds-primary: #3e7dd3;
    --clouds-secondary: #adbacc;
    --clouds-bg: #f1f2f6;

    --rain-primary: #243093;
    --rain-secondary: #70738c;
    --rain-bg: #f9f8fe;

    --thunderstorm-primary: #11053a;
    --thunderstorm-secondary: #252133;
    --thunderstorm-bg: #f1f2f6;

    --snow-primary: #57caf9;
    --snow-secondary: #daebf2;
    --snow-bg: #fff;
}

* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

html {
    font-size: 62.5%;

    font-family: "Roboto", sans-serif;

    overflow-x: hidden;
    max-width: 100vw;
}

body {
    font-size: 1.6rem;
    font-weight: 400;

    background-color: var(--background);
    color: var(--text);

    overflow-x: hidden;

    max-width: 100vw;
    min-height: 100svh;
}

/* Utilities */

.container {
    max-width: 125rem;

    margin: 0 auto;
}

.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.grid {
    display: grid;
}

.grid-2-cols {
    grid-template-columns: repeat(2, 1fr);
}

.grid-3-cols {
    grid-template-columns: repeat(3, 1fr);
}

.grid-center {
    justify-content: center;
    align-items: center;
}

.fade-out {
    animation: fade-out 0.35s ease-in-out forwards;
}

@keyframes fade-out {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.app-container {
    position: relative;

    padding: 0 6.4rem;
    margin-bottom: 6.4rem;

    justify-content: flex-start;
}

.app-wrapper {
    width: 100%;
    height: 100%;
}

.app-wrapper.Clear {
    --primary: var(--clear-primary);
    --secondary: var(--clear-secondary);
    --background: var(--clear-bg);
}

.app-wrapper.Clouds {
    --primary: var(--clouds-primary);
    --secondary: var(--clouds-secondary);
    --background: var(--clouds-bg);
}

.app-wrapper.Rain {
    --primary: var(--rain-primary);
    --secondary: var(--rain-secondary);
    --background: var(--rain-bg);
}

.app-wrapper.Thunderstorm {
    --primary: var(--thunderstorm-primary);
    --secondary: var(--thunderstorm-secondary);
    --background: var(--thunderstorm-bg);
}

.app-wrapper.Snow {
    --primary: var(--snow-primary);
    --secondary: var(--snow-secondary);
    --background: var(--snow-bg);
}

.app-cover {
    position: absolute;
    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;

    background-color: var(--background);

    overflow: hidden;

    pointer-events: none;

    z-index: 99;
}

.ow-tag {
    position: fixed;
    bottom: 0;
    right: 0;

    font-size: 1.2rem;
    font-weight: 600;

    opacity: 0.75;

    color: var(--primary);

    padding: 0.6rem 1.2rem;
}

.recharts-wrapper {
    position: absolute !important;
}
